<mat-card>
  <h2>Created with ❤️ by Shmuela Jacobs</h2>
  <a href="https://twitter.com/shmuelaj" target="_blank">@ShmuelaJ</a>
</mat-card>

<mat-card>
  <a href="https://github.com/shmool/js-poland-swa" target="_blank">
    <img src="assets/github-logo.png">
    <h2>This Demo App on GitHub</h2>
  </a>
</mat-card>


<mat-card>
  <a href="https://js-poland.pl/" target="_blank">
    <img src="assets/js-poland-logo-topa.png">
    <h2>JS Poland</h2>
  </a>
</mat-card>


<mat-card>
  <a href="https://docs.microsoft.com/en-au/azure/static-web-apps/overview?WT.mc_id=js_poland_demo-appsonazure-shjacobs"
     target="_blank">
    <img src="assets/swa.png">
    <h2>Static Web Apps</h2>
  </a>
</mat-card>

<mat-card>
  <a href="https://docs.microsoft.com/en-us/azure/cosmos-db/introduction?WT.mc_id=js_poland_demo-appsonazure-shjacobs"
     target="_blank">
    <img src="assets/functions.png">
    <h2>Azure Functions</h2>
  </a>
</mat-card>

<mat-card>
  <a href="https://docs.microsoft.com/en-au/azure/static-web-apps/overview?WT.mc_id=js_poland_demo-appsonazure-shjacobs"
     target="_blank">
    <img src="assets/cosmosdb.png">
    <h2>Cosmos DB</h2>
  </a>
</mat-card>

<mat-card>
  <a href="https://github.com/manekinekko/swa-emulator" target="_blank">
    <img src="assets/swa emulator.png">
    <h2>SWA Emulator by Wassim Chegham</h2>
  </a>
</mat-card>

<mat-card>
  <a href="https://angular.io" target="_blank">
    <img src="assets/angular.svg">
    <h2>Angular</h2>
  </a>
</mat-card>

