<mat-toolbar class="js-poland-toolbar" color="primary">
  <a routerLink="/" class="toolbar-home-link">
    <img src="assets/js-poland-logo-topa.png">
    <div class="toolbar-title">Shmuela Jacobs - Static Web Apps Demo</div>
  </a>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button
          (click)="like()"
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon">
    <mat-icon [ngStyle]="heartStyle">favorite</mat-icon>
  </button>

  <div *ngIf="likes$ | async as likes">
    <span *ngIf="likes.userLikes"> {{likes.userLikes}} / </span>
    {{ likes.likes }}
  </div>

  <app-user></app-user>
</mat-toolbar>
